/* FOOTER */
footer {
  background: var(--color-primary);
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
}
.footer__container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
}
.footer__container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}
.footer__container article p {
  margin-top: 0.5rem;
}
.footer__container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
.footer__container article a:hover,
.footer__container article a:active {
  color: var(--color-secondary);
}
.footer__socials {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__socials a {
  display: flex;
  background: var(--color-gray-100);
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}
.footer__socials a svg {
  font-size: 1.6rem;
  color: var(--color-gray-600);
}
.footer__socials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}

.footer__copyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
  font-size: 1rem;
}
