footer {
  background: var(--color-primary);
  color: var(--color-gray-600);
  border-top: 1px solid var(--color-primary-variant);
  width: 100vw;
  height: 5rem;
  text-align: center;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  transition: var(--transition);
  font-weight: 500;
  color: var(--color-gray-600);
}
footer a:hover,
footer a:active {
  color: var(--color-gray-100);
}
@media screen and (max-width: 480px) {
  footer {
    font-size: smaller;
    text-justify: distribute-all-lines;
  }
}
